body{
    background-image: radial-gradient( circle 993px at 0.5% 50.5%,  rgba(137,171,245,0.37) 0%, rgba(245,247,252,1) 100.2% );
    /* background: fixed; */
}


.task-c{
    /* background-color: aquamarine; */
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
}
.task-form{
    width: 50%;
    /* background-color: antiquewhite; */
}
.task-form form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.task-form form input,textarea{
    width: 60%;
    height: 5vh;
    font-size: 2rem;
    padding: 1%;
    background-color: transparent;
    border: 1px solid black;
}
.task-form form textarea{
    height: 18vh;
    background-color: transparent;
}
#btn{
    width: 20%;
    padding: 0%;
    background-color: lime;
    border: none;
}
.task-img{
    width: 50%;
    background-color: aqua;
    background-image: url('https://images.pexels.com/photos/3184292/pexels-photo-3184292.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: 100% 100%;
    opacity: 0.8;
}
#mtask{
    position: relative;
    left: 23%;
    bottom: 20vh;
}
.head-set{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.head-bar{
    background-image: radial-gradient( circle 966px at 6.9% 10.8%,  rgba(92,123,237,1) 0%, rgba(147,186,252,1) 90% );
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
}
.tasklist{
    /* background-color: aquamarine; */
    /* height: 40vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2%;
    /* overflow: scroll; */
    /* height: 50vh; */


    
}

body::-webkit-scrollbar {
    display: none;
}
/* .tasklist::-webkit-scrollbar {
    display: none;
} */

.taskbar{
    height: 20vh;
    margin-top: 2%;
    width: 50%;
    display: flex;
    flex-direction: column;
    /* padding: 1%; */
    box-shadow: 0px 1px 5px 0px rgb(65, 161, 240);

    background-image: radial-gradient( circle 879px at 10.4% 22.3%,  rgba(255,235,238,1) 0%, rgba(186,190,245,1) 93.6% );
}

.title{
    /* background-color: aquamarine; */
    height: 30%;
    padding: 1%;
    background-image: radial-gradient( circle 1048.2px at -9.8% 4.7%,  rgba(146,255,192,1) 8.5%, rgba(0,38,97,1) 72.9% );
}
.desc{
    /* background-color: aquamarine; */
    width: 100%;
    height: 70%;
    display: flex;
}
.task-details{
    width: 70%;
    /* background-color: aqua; */
    padding: 1%;
    font-size: 2rem;
}
.action-btn{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.action-btn i{
    font-size: 3rem;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: 50vh;
  }
  .modal-content form{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

  }
  .modal-content form input,textarea{
    width: 70%;
    height: 5vh;
    font-size: 1.3rem;
    padding: 1%;
    font-weight: 700;
  }
  .modal-content form textarea{
    height: 50%;
  }
 .close {
    color: rgb(0, 0, 0);
    float: right;
    font-size: 28px;
    font-weight: 800;
  }
  

.login-msg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 60%;
    width: 100%;
}

.login-msg a{
    text-decoration: none;
    font-size: 3rem;
}
